<form action="" class="ui large form segment">
  <h3 class="ui header"></h3>
  <div class="field">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" #newTitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input type="text" name="link" id="link" #newLink>
  </div>
  <button class="ui positive right floated button" (click)="addArticle(newTitle, newLink)">Submit link</button>
</form>
<div class="ui grid post">
  <app-article
    *ngFor="let foo of sortedArticles()"
    [article]="foo"
  ></app-article>

</div>